<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions />
	<actions>
		<action name="dispSitemapliteAdminConfig" class="Controllers\Admin" admin_index="true" menu_name="sitemaplite" />
		<action name="procSitemapliteAdminInsertConfig" class="Controllers\Admin" />
		<action name="dispSitemapliteServeSitemapXml" class="Controllers\Serve" method="GET" route="sitemap\.xml" global-route="true" />
	</actions>
	<eventHandlers>
		<eventHandler after="moduleObject.proc" class="Controllers\EventHandlers" method="triggerUpdateSitemapXML" />
	</eventHandlers>
	<menus>
		<menu name="sitemaplite" type="all">
			<title xml:lang="ko">사이트맵 Lite</title>
			<title xml:lang="en">Sitemap Lite</title>
		</menu>
	</menus>
</module>
